@media print {
    body {
        background-color: #fff;
        padding-top: 0;
    }

    .wrapper {
        @include box-shadow(0, 0, 0, 0);
    }

    .print__block {
        display: none;
    }

    .left-block__item-interests {
        margin-bottom: 200px;
    }

    .right-block__article-print {
        padding-bottom: 100px;
    }

    .portfolio__item {
        height: 150px;

        &.portfolio__item {
            &_form {
                @include bgi('temp/form-css.jpg');
            }

            &_email {
                @include bgi('temp/email-html.png');
            }

            &_projex {
                @include bgi('temp/projex-css.png');
            }

            &_notify {
                @include bgi('temp/notify-css.png');
            }

            &_waxom {
                @include bgi('temp/waxom-sass.png');
            }

            &_mike {
                @include bgi('temp/mikeregina-bootstrap3.png');
            }

            &_markets {
                @include bgi('temp/markets-semanticui.png');
            }

            &_escape {
                @include bgi('temp/escape-bootstrap4.png');
            }
        }

        &:before {
            opacity: .7;
        }

        .portfolio__icon {
            opacity: 1;
        }
    }
}