@media only screen and (max-width: 991px) {
    .wrapper {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media only screen and (max-width: 913px) {
    .container {
        width: 100%;
    }

    .wrapper {
        width: 755px;
    }

    .right-block__skills {
        width: 125px;
    }

    .portfolio {
        padding-left: 5px;
        padding-right: 5px;
        width: 219px;
    }

}

@media only screen and (max-width: 767px) {
    .wrapper {
        width: 100%;
    }

    .head {
        &__photo {
            display: block;
            margin: 0 0 15px;
            text-align: center;
        }

        &__data {
            display: block;
            padding: 0;
            margin: 0 0 25px;
            text-align: center;
        }
    }

    .left-block,
    .right-block {
        float: none;
        width: 100%;
    }

    .left-block {

        &__contact {
            text-align: center;

            &-text {
                display: block;
            }

            &-icon {
                margin-left: 15px;
            }

            &-address {
                margin: 0;
            }
        }

        &__icon {
            vertical-align: top;
        }

        &__item-interests {
            text-align: center;
        }
    }

    .right-block {
        padding-left: 15px;

        &__skills {
            width: 100%;
            margin: 0 0 10px !important;
        }
    }

    .portfolio__item {
        &.portfolio__item {
            &_form {
                @include bgi('temp/form-css.jpg');
            }

            &_email {
                @include bgi('temp/email-html.png');
            }

            &_projex {
                @include bgi('temp/projex-css.png');
            }

            &_notify {
                @include bgi('temp/notify-css.png');
            }

            &_waxom {
                @include bgi('temp/waxom-sass.png');
            }

            &_mike {
                @include bgi('temp/mikeregina-bootstrap3.png');
            }
        }

        &:before {
            opacity: .7;
        }

        .portfolio__icon {
            opacity: 1;
        }
    }

    .portfolio {
        display: block;
        margin: 0 auto 15px;
        width: 420px;
    }
}

@media only screen and (max-width: 480px) {
    .portfolio {
        width: 100%;
    }
}


@media only screen and (max-width: 320px) {
    .wrapper {
        width: 313px;
    }
}
